@model WebDemo.ViewModels.CreatePersonViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Title</title>
</head>
<body>

<table>

  <tr>
    <th>@Model.Col0</th>
    <th>@Model.Col1</th>
    <th>@Model.Col2</th>
    
  </tr>
  @foreach (var x in Model.People.PList){
      <table>
      <tr>
        <td>@x.Name</td>
         <td>@x.City</td>
        <td>
                    @using (Html.BeginForm("People", "PeopleList", new { personId = x.Id},FormMethod.Post))
                    {
                        @Html.Hidden("Col0",Model.Col0)
                        @Html.Hidden("Col1",Model.Col1)
                        @Html.Hidden("Col2",Model.Col2)
                        @Html.Hidden("Title",Model.Title)
                        @for(int i = 0; i < Model.People.PList.Count; i++)
                        {
                            @Html.HiddenFor(model => Model.People.PList[i].City)
                            @Html.HiddenFor(model => Model.People.PList[i].Id)
                            @Html.HiddenFor(model => Model.People.PList[i].Name)
                        }
                        <td colspan:"1"><input type="submit" value="Remove"></td>
                    }
                    
            
        </td>
      </tr>
      </table>
 }
 <table>
     <tr>
     @using (Html.BeginForm("Filter", "PeopleList",FormMethod.Post))
     {
         @Html.Hidden("Col0",Model.Col0)
         @Html.Hidden("Col1",Model.Col1)
         @Html.Hidden("Col2",Model.Col2)
         @Html.Hidden("Title",Model.Title)
         @for(int i = 0; i < Model.People.PList.Count; i++)
         {
             @Html.HiddenFor(model => Model.People.PList[i].City)
             @Html.HiddenFor(model => Model.People.PList[i].Id)
             @Html.HiddenFor(model => Model.People.PList[i].Name)
         }
         <td >Name to filter:@Html.TextBox("FilterAdd")</td>
         <td colspan:"1"><input type="submit" value="Filter"></td>

     }
     </tr>
     <tr>
     @using (Html.BeginForm("Add", "PeopleList",FormMethod.Post))
     {
         @Html.Hidden("Col0",Model.Col0)
         @Html.Hidden("Col1",Model.Col1)
         @Html.Hidden("Col2",Model.Col2)
         @Html.Hidden("Title",Model.Title)
         @for(int i = 0; i < Model.People.PList.Count; i++)
         {
             @Html.HiddenFor(model => Model.People.PList[i].City)
             @Html.HiddenFor(model => Model.People.PList[i].Id)
             @Html.HiddenFor(model => Model.People.PList[i].Name)
         }
         <td >Name to add: @Html.TextBox("Add")</td>
         <td >City: @Html.TextBox("City")</td>
         <td colspan:"1"><input type="submit" value="Add"></td>
     }
     </tr>



 </table>



</body>
</html>