@model WebDemo.ViewModels.CreatePersonViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Title</title>
    <style>
        .container {
        display: flex; /* or inline-flex */
            }
    </style>
</head>
<body>

<div class="container">

  <div class="row">
    <div class="col-sm">@Model.Col0</div>
    <div class="col-sm">@Model.Col1</div>
    <div class="col-sm">@Model.Col2</div>
  </div>
  @{var counter = 0;}
  @foreach (var x in Model.PersonList.PList){
   counter++;
   ViewData["xCity"] = x.City;
   ViewData["xName"] = x.Name;
   ViewData["Col0"] = Model.Col0;
   ViewData["Col1"] = Model.Col1;
   ViewData["Col2"] = Model.Col2;
   ViewData["Title"] = Model.Title;
   ViewData["xID"] = x.Id;
   ViewData["listSize"] = Model.PersonList.PList.Count;
   ViewData["PList"] = Model.PersonList.PList;
   ViewData["PersonId"] = counter;
            <partial name="Partial.cshtml" for="PersonList" view-data="ViewData"></partial>
  }
 </div>

 <table>
     <tr>
     @using (Html.BeginForm("Filter", "PeopleList",FormMethod.Post))
     {
         @Html.Hidden("Col0",Model.Col0)
         @Html.Hidden("Col1",Model.Col1)
         @Html.Hidden("Col2",Model.Col2)
         @Html.Hidden("Title",Model.Title)
         @for(int i = 0; i < Model.PersonList.PList.Count; i++)
         {
             @Html.HiddenFor(model => Model.PersonList.PList[i].City)
             @Html.HiddenFor(model => Model.PersonList.PList[i].Id)
             @Html.HiddenFor(model => Model.PersonList.PList[i].Name)
         }
         
         <td >Name to filter:@Html.TextBox("Filter")</td>
         <td colspan:"1"><input type="submit" value="Filter"></td>

     }
     </tr>
     <tr>
     @using (Html.BeginForm("Add", "PeopleList",FormMethod.Post))
     {
         @Html.Hidden("Col0",Model.Col0)
         @Html.Hidden("Col1",Model.Col1)
         @Html.Hidden("Col2",Model.Col2)
         @Html.Hidden("Title",Model.Title)
         @for(int i = 0; i < Model.PersonList.PList.Count; i++)
         {
             @Html.HiddenFor(model => Model.PersonList.PList[i].City)
             @Html.HiddenFor(model => Model.PersonList.PList[i].Id)
             @Html.HiddenFor(model => Model.PersonList.PList[i].Name)
         }
         
         <td >Name to add:@Html.TextBox("Add")</td>
         <td >City: @Html.TextBox("City")</td>
         <td colspan:"1"><input type="submit" value="Add"></td>
     }
     </tr>
 </table>



</body>
</html>